# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# CLaude Code
.claude/settings.local.json
.playwright-mcp

# Jupyter Notebook
.ipynb_checkpoints

# ruff
.ruff_cache/

# uv
uv.lock
